
/**FUENTE**/
@font-face {
  font-family: "AzeretMono";
  src: url("fuentes/AzeretMono-VariableFont_wght.ttf");
}
/**********LOGIN***********/

body{
	background-image: url(img/fondoLoginOpacity.jpg);
}

body *{
	font-family: 'AzeretMono';
}

.icono img{
	width: 150px !important;
}
.fila-login-trabajador img, .fila-login-clientes img, .columna-bienvenida img{
	opacity: 0.2;
}
.columna-bienvenida{
	font-weight: 600;
	font-size: 28px;
}

.error{
	border: 3px solid red;
}

#boton-submit-trabajadores,#boton-submit-clientes,#boton-submit-registro{
	
	border: 2px solid #00192E;

}


#boton-submit-trabajadores:hover,#boton-submit-clientes:hover,#boton-submit-registro:hover{
	
	color: #00192E;
	background-color: white;
	border: 0px;
}

a.enlaces-login:hover, a#enlace-registro-login{
	color: #00192E;
	text-decoration: underline;
}

.modal-header #boton-registro-cerrar{
	background-color: #00192e;

}

.columna-bienvenida p{
		margin-top: 100px;
}

input[type=button]{
	cursor: pointer;
}

@media(max-width: 767px){
	.logo-login img{
		margin-top: 115px;
	}
	.columna-bienvenida p{
		margin-top: 0px;
		font-size: 15px;
	}
}

.errorMensaje{

	color: red;
}
.registroCorrecto{
	color: green;
}

/*PLACEHOLDER HOME TRABAJO INPUT BUSCADOR POR NOMBRE DEL CLIENTE PARA SACAR SU FACTURA*/

.texto_nombre_factura::placeholder{

   	font-size: 1rem !important;
}